.MuiButton-root {
  background-color: #2d6ff6;
  border-radius: 30px;
  margin-left: 10px;
}
.MuiButton-root:hover {
  background-color: #0949cc;
}
.MuiButton-label {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  text-transform: none;
}
